.env
*.env
__pycache__/
*.pyc
.venv/
venv/
.venv-platformio/
.platformio-core/
firmware/esp8266_mpu6050_logger/include/config.h
data/*
!data/.gitkeep
*.sqlite
*.db
.pio/
.DS_Store
.ipynb_checkpoints/
.pytest_cache/
